<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <form class="row" [formGroup]="serviceForm">
    <div class="col">
      <!-- input -->
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Service or product name</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <input formControlName="name" type="text" matInput placeholder="Product name" />
        <mat-icon matPrefix>
          <i-tabler name="package" class="icon-20 d-flex"></i-tabler>
        </mat-icon>
      </mat-form-field>
    </div>

    <!-- cover attachment  -->
    <div class="w-full px-5 pt-4">
      <!-- here loop the assets  -->
      <div *ngIf="pickedImage" class="relative rounded-xl overflow-hidden shadow-xl m-3 group">
        <img src="{{pickedImage}}" alt="" class="object-cover h-32 w-32">
        <button class="absolute opacity-0 text-white group-hover:opacity-100 transition-all top-1 right-1"
          (click)="removeImg()" color="warn" mat-icon-button>
          <mat-icon class="text-red-400">delete</mat-icon>
        </button>
      </div>
      <!-- add button  -->
      <div *ngIf="!pickedImage" (click)="filePicker.click()"
        class="border-dashed border-2 m-3 cursor-pointer hover:bg-slate-200 transition-all border-slate-400 flex items-center justify-center rounded-xl h-44 w-full">
        <mat-icon>add</mat-icon>
        Add poster image (second section)
      </div>
    </div>

    <!-- icon attachment  -->
    <div class="w-full px-5 pt-4">
      <!-- here loop the assets  -->
      <div *ngIf="pickedIcon" class="relative rounded-xl overflow-hidden shadow-xl m-3 group">
        <img src="{{pickedIcon}}" alt="" class="object-cover h-32 w-32">
        <button class="absolute opacity-0 text-white group-hover:opacity-100 transition-all top-1 right-1"
          (click)="removeImg2()" color="warn" mat-icon-button>
          <mat-icon class="text-red-400">delete</mat-icon>
        </button>
      </div>
      <!-- add button  -->
      <div *ngIf="!pickedIcon" (click)="filePicker2.click()"
        class="border-dashed border-2 m-3 cursor-pointer hover:bg-slate-200 transition-all mx-auto border-slate-400 flex items-center justify-center rounded-xl h-44 w-44">
        <mat-icon>add</mat-icon>
        Service icon
      </div>
    </div>

    <h2 class="text-blue-700 font-bold text-xl ml-5 mb-5">Data (second section)</h2>

    <!-- data field  -->
    <div class="flex flex-col px-5" formArrayName="data">
      <div class="w-full flex flex-row items-center" *ngFor="let item of dataValue.controls;let i=index">
        <div [formGroup]="$any(item)">
          <mat-form-field appearance="outline" class="mr-3">
            <input formControlName="label" type="text" matInput placeholder="Label" />
            <mat-icon matPrefix>
              <i-tabler name="package" class="icon-20 d-flex"></i-tabler>
            </mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="">
            <input formControlName="value" type="text" matInput placeholder="Valeur" />
            <mat-icon matPrefix>
              <i-tabler name="package" class="icon-20 d-flex"></i-tabler>
            </mat-icon>
          </mat-form-field>
          <button class="self-center" mat-icon-button (click)="removeData(i)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
      <button mat-stroked-button (click)="addData()"><mat-icon>add</mat-icon></button>
    </div>

    <h2 class="text-blue-700 font-bold text-xl ml-5 mb-5">Pricing cards (last section)</h2>

    <!-- pricing field  -->
    <div class="flex flex-col px-5" formArrayName="pricing">
      <div class="w-full flex flex-row items-center flex-wrap" *ngFor="let item of pricingValue.controls;let i=index">
        <div [formGroup]="$any(item)">
          <mat-form-field appearance="outline" class="mr-3">
            <input formControlName="name" type="text" matInput placeholder="Pricing Label" />
            <mat-icon matPrefix>
              <i-tabler name="tags" class="icon-20 d-flex"></i-tabler>
            </mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="">
            <input formControlName="price" type="text" matInput placeholder="Price" />
            <mat-icon matPrefix>
              <i-tabler name="brand-cashapp" class="icon-20 d-flex"></i-tabler>
            </mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="">
            <input formControlName="cta" type="text" matInput placeholder="Call to action URL" />
            <mat-icon matPrefix>
              <i-tabler name="link" class="icon-20 d-flex"></i-tabler>
            </mat-icon>
          </mat-form-field>
          <!-- the pricing data here  -->
          <div class="flex flex-col px-5" formArrayName="data">
            <h2>Data</h2>
            <div class="w-full flex flex-row items-center"
              *ngFor="let item2 of $any(item.get('data')).controls;let j=index">
              <div [formGroup]="$any(item2)">
                <mat-form-field appearance="outline" class="mr-3">
                  <input formControlName="label" type="text" matInput placeholder="Label" />
                  <mat-icon matPrefix>
                    <i-tabler name="package" class="icon-20 d-flex"></i-tabler>
                  </mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="">
                  <input formControlName="value" type="text" matInput placeholder="Valeur" />
                  <mat-icon matPrefix>
                    <i-tabler name="package" class="icon-20 d-flex"></i-tabler>
                  </mat-icon>
                </mat-form-field>
                <button class="self-center" mat-icon-button
                  (click)="removePricingData(i,j)"><mat-icon>delete</mat-icon></button>
              </div>
            </div>
            <button mat-stroked-button (click)="addPricingData(i)"><mat-icon>add pricing data</mat-icon></button>
          </div>
          <button class="self-center" mat-icon-button (click)="removePricing(i)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
      <button mat-stroked-button (click)="addPricing()"><mat-icon>add</mat-icon></button>
    </div>


    <div class="col-12">
      <mat-slide-toggle class="py-4" color="primary" formControlName="publish">Publier ?</mat-slide-toggle>
    </div>

  </form>


  <input type="file" class="hidden" (input)="filePicked($event)" #filePicker accept="image/*">
  <input type="file" class="hidden" (input)="filePicked2($event)" #filePicker2 accept="image/*">
</mat-dialog-content>
<mat-dialog-actions align="end" class="px-5 pb-5 ">
  <button mat-raised-button mat-dialog-close>Annuler</button>
  <button *ngIf="mode === 'update'" class="text-white" mat-raised-button color="warn"
    (click)="deleteProduct()">Supprimer</button>
  <button mat-raised-button color="primary" [disabled]="loading" (click)="submit()" cdkFocusInitial>
    {{ loading ? '' : mode === 'create' ? 'Créer' :
    'Modifier'}}
    <mat-spinner *ngIf="loading" diameter="20" color="warn"></mat-spinner>
  </button>
</mat-dialog-actions>