<mat-stepper  #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="col">
        <ng-template matStepLabel>Ajouter un empreint</ng-template>
     
        <div >
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Nom du projet</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input formControlName="projectName" type="text" matInput  />
            </mat-form-field>
          </div>
          <div >
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Lieu</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input formControlName="projectPlaces" type="text" matInput  />
            </mat-form-field>
          </div>
          <div >
            <mat-label class="font-bold">Début</mat-label>
            <mat-form-field appearance="outline" placeholder="Acheté le" class="w-100">
              <input formControlName="startDate" matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div >
            <mat-label class="font-bold">Fin</mat-label>
            <mat-form-field appearance="outline" placeholder="Acheté le" class="w-100">
              <input formControlName="endDate" matInput [matDatepicker]="picker2" />
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
            
        <div>
            <div><button mat-button matStepperNext [color]="'primary'" [disabled]="firstFormGroup.invalid">Suivant</button></div>
          
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Choisir le matriel" [ariaDisabled]="firstFormGroup.invalid">
      <form [formGroup]="secondFormGroup" class="row">
      
        <div>
          <button mat-button matStepperPrevious [color]="'warn'">retour</button>
          <button mat-button matStepperNext [color]="'primary'">suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmation</ng-template>
      <p>You are now done.</p>
    
    
        <div>    
                <button mat-button matStepperPrevious [color]="'warn'">Retour</button>
                <button mat-button (click)="submitForm()" [color]="'primary'">Confirmation</button>
        </div>
     
    </mat-step>
  </mat-stepper>