/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/angular-calendar/css/angular-calendar.css";


.mdc-snackbar__surface{
    background: transparent !important;//to show the panel color
}

.mat-mdc-form-field-icon-prefix,.mat-mdc-form-field-icon-suffix{
    margin: 0 10px;
}
